$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?599c836f4a07ac3271d8acc8e113d2e4") format("truetype"),
url("./flaticon.woff?599c836f4a07ac3271d8acc8e113d2e4") format("woff"),
url("./flaticon.woff2?599c836f4a07ac3271d8acc8e113d2e4") format("woff2"),
url("./flaticon.eot?599c836f4a07ac3271d8acc8e113d2e4#iefix") format("embedded-opentype"),
url("./flaticon.svg?599c836f4a07ac3271d8acc8e113d2e4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "pencil": "\f101",
    "upload": "\f102",
    "certificate": "\f103",
    "challenges": "\f104",
    "experience": "\f105",
    "networking": "\f106",
    "online-appointment": "\f107",
    "info": "\f108",
    "arrow-down-sign-to-navigate": "\f109",
);

.flaticon-pencil:before {
    content: map-get($flaticon-map, "pencil");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-certificate:before {
    content: map-get($flaticon-map, "certificate");
}
.flaticon-challenges:before {
    content: map-get($flaticon-map, "challenges");
}
.flaticon-experience:before {
    content: map-get($flaticon-map, "experience");
}
.flaticon-networking:before {
    content: map-get($flaticon-map, "networking");
}
.flaticon-online-appointment:before {
    content: map-get($flaticon-map, "online-appointment");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: map-get($flaticon-map, "arrow-down-sign-to-navigate");
}
